<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2isWC17PI4xHWrofFiNbkDpMxUOtCSmI</string>
	<key>GCM_SENDER_ID</key>
	<string>39886573171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webToApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>web-to-app-f77bb</string>
	<key>STORAGE_BUCKET</key>
	<string>web-to-app-f77bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39886573171:ios:4c864fa6f14c8c0c1e2406</string>
</dict>
</plist>